@model repoInsight.Controllers.RepoCommitsViewModel

@{
    ViewData["Title"] = "GitHub Repository Details";
}

<h2>Repostório: @Model.Repository.Name</h2>


<h1>Metricas</h1>
<table>
        <thead>
            <tr>
                <th>Quantidade de commits:</th>
                <th>Quantidade de MRs:</th>
            </tr>
        </thead>
        <tbody>
          
                <tr>
                    <td><p>@Model.Commits.Where(c => !c.Commit.Message.Contains("Merge pull request #")).Count()</p></td>
                    <td><p>@Model.Commits.Where(c => c.Commit.Message.Contains("Merge pull request #")).Count()</p></td>
                   
                </tr>
        </tbody>
    </table>


<h1>Commits</h1>
<table>
        <thead>
            <tr>
                <th>Author:</th>
                <th>Date:</th>
                <th>Message:</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var commit in Model.Commits.Where(c => !c.Commit.Message.Contains("Merge pull request #")))
            {
                <tr>
                    <td><p>@commit.Commit.Author.Name</p></td>
                    <td><p>@commit.Commit.Author.Date.ToString("yyyy-MM-dd HH:mm:ss")</p></td>
                    <td><p>@commit.Commit.Message</p></td>
                </tr>
            }
        </tbody>
    </table>

<h1>MRs</h1>
<table>
        <thead>
            <tr>
                <th>Author:</th>
                <th>Date:</th>
                <th>Message:</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var commit in Model.Commits.Where(c => c.Commit.Message.Contains("Merge pull request #")))
            {
                <tr>
                    <td><p>@commit.Commit.Author.Name</p></td>
                    <td><p>@commit.Commit.Author.Date.ToString("yyyy-MM-dd HH:mm:ss")</p></td>
                    <td><p>@commit.Commit.Message</p></td>
                </tr>
            }
        </tbody>
    </table>