@{
    ViewData["Title"] = "GitHub Repository Details";
    var url = Url.Action("Repo", "GitHub");
}
@using System.Text.RegularExpressions;
@model repoInsight.Services.RepoCommitsViewModel

@section Header{
    <header>
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="flex flex-1 items-stretch justify-start">
                        <div class="flex flex-shrink-0 items-center">
                            <a asp-controller="Home" asp-action="Index">
                                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="50">
                                    <text x="10" y="40" font-family="Arial" font-size="30" fill="white" opacity="0">
                                        <animate attributeName="opacity" from="0" to="1" dur="1s" begin="0s" fill="freeze" />
                                        RepoInsight
                                    </text>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- Campo de busca -->
                    <div class="relative flex items-center justify-end md:w-auto px-4 md:px-0 md:mx-4">
                        <!-- Search input -->
                        <input type="text" id="searchInput" placeholder="Search" class="w-full md:w-auto bg-gray-700 p-2 rounded-l text-white focus:outline-none">
                        <!-- Search results -->
                        <div id="searchResults" class="absolute bg-gray-700 rounded mt-1 w-full border border-gray-300 hidden">
                            <!-- Search results will be displayed here -->
                        </div>
                        <!-- Search button -->
                        <button id="searchButton" class="bg-gray-700 p-2 rounded-r h-10 hover:bg-gray-600">
                            <span class="material-icons text-white">search</span>
                        </button>
                    </div>

                    <!-- Container to display search results -->
                    <div id="searchResults" class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                        <!-- Search results will be displayed here -->
                    </div>
                    @* <div class="flex items-center justify-end md:w-auto px-4 md:px-0 md:mx-4">
                        <input type="text" placeholder="Search" class="w-full md:w-auto bg-gray-700 p-2 rounded text-white mx-2">
                        <button class="bg-gray-700 p-2 rounded hover:bg-gray-600">
                            <span class="material-icons text-white">search</span>
                        </button>
                    </div> *@
                    <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

                        <!-- Profile dropdown -->
                        <div class="relative ml-3">
                            <div>
                                <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                    <span class="absolute -inset-1.5"></span>
                                    <span class="sr-only">Open user menu</span>
                                    <img class="h-8 w-8 rounded-full" src="~/img/user.png" alt="User Icon">
                                </button>
                            </div>

                            <!-- Dropdown menu, initially hidden -->
                            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                                <a href="#" onclick="contaModal()" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Conta</a>
                                <a asp-controller="User" asp-action="Logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Sair</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
}

<div class="grid grid-cols-2 gap-4">
    <div>
        <span class="font-bold">Repositorio: @Model.Repository.Name</span>
    </div>
    <div class="col-span-2">
        <div class="grid grid-cols-7 gap-4">
        <div class="py-4 border border-dashed rounded-lg border-slate-400 text-center">
            <h6 class="font-bold dark:text-black">Stars</h6>
            <h4 class="font-bold dark:text-black">@Model.Repository.StargazersCount</h4>
        </div>

        <div class="py-4 border border-dashed rounded-lg border-slate-400 text-center">
            <h6 class="font-bold dark:text-black">Forks</h6>
            <h4 class="font-bold dark:text-black">@Model.Repository.ForksCount</h4>
        </div>
        
        <div class="py-4 border border-dashed rounded-lg border-slate-400 text-center">
            <h6 class="font-bold dark:text-black">T. Commits</h6>
            <h4 class="font-bold dark:text-black">@Model.Commits.Where(c => !Regex.Match(c.Commit.Message, @"\#\d{1,}").Success).ToList().Count</h4>
        </div>
        
        <div class="py-4 border border-dashed rounded-lg border-slate-400 text-center">
            <h6 class="font-bold dark:text-black">T. Contribuintes</h6>
            <h4 class="font-bold dark:text-black">@Model.Contributors</h4>
        </div>

        <div class="py-4 border border-dashed rounded-lg border-slate-400 text-center">
            <h6 class="font-bold dark:text-black">T. Branches</h6>
            <h4 class="font-bold dark:text-black">@Model.Branches</h4>
        </div>

        <div class="py-4 border border-dashed rounded-lg border-slate-400 text-center">
            <h6 class="font-bold dark:text-black">T. Merges</h6>
            <h4 class="font-bold dark:text-black">@Model.Merges</h4>
        </div>

        <div class="py-4 border border-dashed rounded-lg border-slate-400 text-center">
            <h6 class="font-bold dark:text-black">T. Pulls</h6>
            <h4 class="font-bold dark:text-black">@Model.Pulls</h4>
        </div>
        </div>
    </div>
    <div class="col-span-2">
        <div x-data="{ openTab: 1 }">
            <div class="col-span-2">
                <div class="col-span-2 bg-white rounded-lg shadow-md p-4">
                    <div class="flex items-center space-x-2">
                        <button 
                            x-on:click="openTab = 1" 
                            :class="{ 'bg-blue-600 text-white': openTab === 1 }" 
                            class="flex-1 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue transition-all duration-300"
                        >
                            Commits
                        </button>
                        <button 
                            x-on:click="openTab = 2" 
                            :class="{ 'bg-blue-600 text-white': openTab === 2 }" 
                            class="flex-1 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue transition-all duration-300"
                        >
                            Merges
                        </button>
                        <form class="ml-auto">
                            <button
                                class="select-none rounded-lg border border-red-700 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-red-700 transition-all hover:opacity-75 focus:ring hover:bg-red-700 hover:text-white focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                type="button"
                            >
                                @Html.ActionLink("Excluir Repositorio", "Delete", "GitHub", new { owner = Model.Repository.FullName.Split("/")[0], repo = Model.Repository.FullName.Split("/")[1] })
                            </button>
                        </form>
                    </div>
                </div>
                <div x-show="openTab === 1" class="transition-all duration-300 bg-white p-4 rounded-lg shadow-md border-l-4 border-blue-600">
                    <div class="col-span-2">
                        <div class="flex flex-col">
                            <div class="overflow-x-auto">
                                <div class="p-1.5 min-w-full inline-block align-middle">
                                    <div class="border rounded-lg shadow overflow-hidden dark:border-neutral-700 dark:shadow-gray-900">
                                        <table class="table-auto w-full divide-y divide-gray-200 dark:divide-neutral-700">
                                            <thead>
                                                <tr class="divide-x divide-gray-200 dark:divide-neutral-700">
                                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-black-500 uppercase dark:text-neutral-500">Author</th>
                                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-black-500 uppercase dark:text-neutral-500">Message</th>
                                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-black-500 uppercase dark:text-neutral-500">Date</th>
                                                    <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-black-500 uppercase dark:text-neutral-500">URL</th>
                                                </tr>
                                            </thead>
                                            <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                                                @foreach (var commit in Model.Commits.Where(c => !Regex.Match(c.Commit.Message, @"\#\d{1,}").Success))
                                                {
                                                    <tr>
                                                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">@commit.Commit.Author.Name</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">@commit.Commit.Message</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">@commit.Commit.Author.Date.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium"><a href="@commit.Commit.GitHubURL" target="_blank">Commit -></a></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div x-show="openTab === 2" class="transition-all duration-300 bg-white p-4 rounded-lg shadow-md border-l-4 border-blue-600">
                    <div class="col-span-2">
                        <div class="flex flex-col">
                            <div class="overflow-x-auto">
                                <div class="p-1.5 min-w-full inline-block align-middle">
                                    <div class="border rounded-lg shadow overflow-hidden dark:border-neutral-700 dark:shadow-gray-900">
                                        <table class="table-auto w-full divide-y divide-gray-200 dark:divide-neutral-700">
                                            <thead>
                                                <tr class="divide-x divide-gray-200 dark:divide-neutral-700">
                                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-black-500 uppercase dark:text-neutral-500">Author</th>
                                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-black-500 uppercase dark:text-neutral-500">Message</th>
                                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-black-500 uppercase dark:text-neutral-500">Date</th>
                                                    <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-black-500 uppercase dark:text-neutral-500">URL</th>
                                                </tr>
                                            </thead>
                                            <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                                                @foreach (var commit in Model.Commits.Where(c => Regex.Match(c.Commit.Message, @"\#\d{1,}").Success))
                                                {
                                                    <tr>
                                                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">@commit.Commit.Author.Name</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">@commit.Commit.Message</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">@commit.Commit.Author.Date.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium"><a href="@commit.Commit.GitHubURL" target="_blank">Commit -></a></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>  
    function redirectToRepo(fullName){
        const [owner, repo,] = fullName.split("/");
        window.location.href = "@url?owner="+encodeURIComponent(owner)+"&repo="+encodeURIComponent(repo), "_blank";
    }
    // Function to filter values based on search input
    function filterValues(searchText) {
        const values = JSON.parse(localStorage.getItem("values"));
        return values.filter(value => value.toLowerCase().includes(searchText.toLowerCase()));
    }

    // Function to update search results
    function updateSearchResults(searchText) {
        const searchResultsElement = document.getElementById("searchResults");
        const filteredValues = filterValues(searchText);

        // Clear previous search results
        searchResultsElement.innerHTML = "";

        // Display filtered values
        filteredValues.forEach(value => {
            const listItem = document.createElement("div");
            listItem.className = "cursor-pointer bg-gray-700 text-white";
            listItem.setAttribute("onclick", `redirectToRepo('${value}')`);
            listItem.textContent = value;
            searchResultsElement.appendChild(listItem);
        });

        // Show search results if there are matches, hide otherwise
        searchResultsElement.style.display = filteredValues.length ? "block" : "none";
    }

    // Event listener for input event on search input field
    document.getElementById("searchInput").addEventListener("input", function(event) {
        updateSearchResults(event.target.value);
    });

    document.body.addEventListener("click", function(event) {
        const searchInput = document.getElementById("searchInput");
        const searchResults = document.getElementById("searchResults");

        // Check if the click target is outside the search input and its results container
        if (!searchInput.contains(event.target) && !searchResults.contains(event.target)) {
            // Hide search results
            searchResults.style.display = "none";
        }
    });
</script>
<style>
    #searchResults {
        top: calc(100% + 5px); /* Position below search input */
    }
</style>